.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding: 0;
}

.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.logo-icon {
    width: 24px;
    height: 24px;
}

.logo-text {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--text-primary);
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.header-menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    cursor: pointer;
    padding: 0.5rem;
    border: none;
    border-radius: 6px;
    transition: background-color 0.2s ease;
}

.header-menu-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

[data-theme='dark'] .header-menu-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.switch-theme-icon {
    height: 2rem;
    width: 2rem;
}

.show-profile-icon {
    height: 1.7rem;
    width: 1.7rem;
}


.button-with-hint {
    position: relative;
}

.hint {
    position: absolute;
    bottom: -50%;
    left: 50%;
    text-align: center;
    font-size: 0.7em;
    font-weight: 500;
    margin: 0;
    padding: 0.4rem;
    border-radius: 0.4rem;
    white-space: nowrap;
    background-color: var(--text-primary);
    color: var(--bg-primary);
    transform: translateX(-50%) translateY(calc(10px));
    transition: all 0.3s ease;
    z-index: 10;

    opacity: 0;
    visibility: hidden;

    &::after {
        content: '';
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent var(--text-primary) transparent;
    }
}

.button-with-hint:hover .hint {
    opacity: 1;
    visibility: visible;
}
