### Java ###
HELP.md
target
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target
!**/src/test/**/target

### Python ###
.venv

### React ###
node_modules
.yarn
.pnp.*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode

### Environment variables!!! ###
.env

### etc ###
.DS_Store
*.log
logs
*.webm
