.app {
    max-width: 90vw;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    transition: background-color 0.2s ease, color 0.2s ease;
}

.disable-selection {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.cta {
    padding: 0.8rem 1.3rem;
    border-radius: 0.7rem;
    border: 1px solid var(--border-color);
    background: var(--button-bg);
    color: var(--text-secondary);
    font-weight: 600;
    cursor: pointer;
    transition: transform 120ms ease, box-shadow 120ms ease;
    font-size: 1rem;
}

.cta:hover {
    transform: translateY(-1px);
    box-shadow: var(--button-shadow);
}

.cta.ghost {
    background: var(--card-bg);
}

.blink {
    animation: blink 3s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.button-with-hint {
    position: relative;
}

.hint {
    position: absolute;
    bottom: -50%;
    left: 50%;
    text-align: center;
    font-size: 0.7em;
    font-weight: 500;
    margin: 0;
    padding: 0.4rem;
    border-radius: 0.4rem;
    white-space: nowrap;
    background-color: var(--text-primary);
    color: var(--bg-primary);
    transform: translateX(-50%) translateY(calc(10px));
    transition: all 0.3s ease;
    z-index: 10;

    opacity: 0;
    visibility: hidden;

    &::after {
        content: '';
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent var(--text-primary) transparent;
    }
}

.button-with-hint:hover .hint {
    opacity: 1;
    visibility: visible;
}

/* Light theme - default */
:root,
[data-theme='light'] {
    --bg-primary: #f2f5f8;
    --text-primary: #1f2933;
    /*--text-secondary: #3d4a55;*/
    --text-secondary: #1f2933;
    --text-tertiary: #5c6670;
    --card-bg: #fff;
    --card-secondary-bg: #f9fbfd;
    --border-color: #e9edf2;
    /*--button-bg: #f6f9fb;*/
    --button-bg: #dfdfdf;
    --button-shadow: 0 8px 24px rgba(15, 23, 42, 0.06);
    --card-shadow: 0 8px 20px rgba(17, 24, 39, 0.04);
}

/* Dark theme - monokai */
[data-theme='dark'] {
    --bg-primary: #272822;
    --text-primary: #f8f8f2;
    --text-secondary: #e6db74;
    --text-tertiary: #75715e;
    --card-bg: #2e2e24;
    --card-secondary-bg: #32322c;
    --border-color: #3e3e32;
    --button-bg: #3e3e32;
    --button-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
    --card-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
